---
layout: application
---
{% for post in site.posts limit: 1 %}
<div class="background {{ post.id | split: '/' | last | slugify | prepend: 'background-' }}">
  {% include masthead.html %}

  <section class="headline">
    <h1 class="headline-title" data-number="{{ post.screening.number }}">{{ post.title }}</h1>
    <ul class="headline-details">
      {% if post.dinner %}
      <li>{{ post.dinner.date | date: "%l:%M %p" }} (Dinner)</li>
      <li>{{ post.screening.date | date: "%l:%M %p" }} (Screening)</li>
      {% else %}
      <li>{{ post.screening.date | date: "%l:%M %p" }}</li>
      {% endif %}
      <li>{{ post.screening.date | date: "%A, %e %B, %Y" }}</li>
      <li>{{ post.screening.venue.name }}, {{ post.screening.venue.city }}, {{ post.screening.venue.country }}</li>
    </ul>
    <ul class="headline-call-to-actions">
      <li><a href="{{ post.url }}" class="button button-alternate">Details</a></li>
    </ul>
  </section>
</div>
{% endfor %}

{% include archive.html %}

{% include subscribe.html %}
