<section id="film" class="section-container">
  <header class="section-header">
    <h2 class="section-title">The Film</h2>

    <div class="film-description">
      {{ content }}
    </div>

    <dl class="film-details">
      <dt>Director</dt>
      <dd>{{ page.film.director }}</dd>
      <dt>Cast</dt>
      <dd>{{ page.film.cast }}</dd>
      <dt>Genre</dt>
      <dd>{{ page.film.genre }}</dd>
      <dt>Run Time</dt>
      <dd>{{ page.film.running_time | append: ' minutes' }}</dd>
      <dt>Language</dt>
      <dd>{{ page.film.language }}</dd>

      {% if page.film.subtitles %}
        <dt>Subtitles</dt>
        <dd>{{ page.film.subtitles }}</dd>
      {% endif %}

      <dt>Links</dt>
      <dd><a href="{{ page.film.url }}">Website</a>{% if page.film.imdb_id %}, <a href="{{ page.film.imdb_id | prepend: 'http://www.imdb.com/title/' }}/">IMDB</a>{% endif %}</dd>
    </dl>
  </header>

  <figure class="embed {{ page.film.trailer.aspect_ratio | replace: ':', '-' | prepend: 'embed-' }}">
    <iframe src="{{ page.film.trailer.vimeo_id | prepend: '//player.vimeo.com/video/' | append: '?title=0&amp;byline=0&amp;portrait=0&amp;color=ffff00' }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </figure>
</section>
