<section id="film" class="section-container">
  <header class="section-header">
    <h2 class="section-title">The Film</h2>

    <div class="film-description">
      {{ content }}
    </div>

    <dl class="film-details">
      <dt>Director</dt>
      <dd>{{ page.film.director }}</dd>
      <dt>Cast</dt>
      <dd>{{ page.film.cast }}</dd>
      <dt>Genre</dt>
      <dd>{{ page.film.genre }}</dd>
      <dt>Run Time</dt>
      <dd>{{ page.film.running_time | append: ' minutes' }}</dd>
      <dt>Language</dt>
      <dd>{{ page.film.language }}</dd>

      {% if page.film.subtitles %}
        <dt>Subtitles</dt>
        <dd>{{ page.film.subtitles }}</dd>
      {% endif %}

      <dt>Links</dt>
      <dd><a href="{{ page.film.url }}">Website</a>, <a href="http://www.imdb.com/title/{{ page.film.imdb_id }}/">IMDB</a></dd>
    </dl>
  </header>

  <figure class="embed embed-16-9">
    <iframe src="//player.vimeo.com/video/{{ page.film.vimeo_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffff00" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </figure>
</section>
