<head>
  <title>{{ site.title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Films &amp; Conversations">
  <meta property="og:description" content="A regular meetup serving a diet of counterculture, substantial ideas, and great conversations; through the medium of film.">
  <meta property="og:url" content="http://filmsandconversations.com/">
  <meta property="og:image" content="http://filmsandconversations.com/images/logo-films-and-conversations.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator:id" content="@filmsandconv">
  <meta name="twitter:site:id" content="@filmsandconv">
  <meta name="twitter:title" content="Films &amp; Conversations">
  <meta name="twitter:description" content="A regular meetup serving a diet of counterculture, substantial ideas, and great conversations; through the medium of film.">
  <meta name="twitter:image" content="http://filmsandconversations.com/images/logo-films-and-conversations.png">

  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">

  <script src="//use.typekit.net/bkh7bxb.js" type="text/javascript"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
