<section id="tickets" class="section-container">
  <header class="section-header">
    <h2 class="section-title">Tickets</h2>
    {% if page.screening.tickets.available %}
    <p>Tickets can be purchased from Eventbrite.<br>Unfortunately, refunds cannot be given.</p>
    {% else %}
    <p>Tickets are no longer available for this screening.</p>
    {% endif %}
  </header>

  {% if page.screening.tickets.available %}
  <figure class="tickets-widget">
    <iframe src="//eventbrite.com/tickets-external?eid={{ page.screening.tickets.eventbrite_id }}&ref=etckt" frameborder="0" height="370" width="100%" scrolling="auto"></iframe>
  </figure>
  {% endif %}
</section>
