//
// Modules
// --------------------------------------------------


// Backgrounds
// -------------------------

.background
{
  position: relative;

  &:before,
  &:after
  {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before
  {
    z-index: -1;
  }

  &:after
  {
    background-color: black;
    z-index: -2;
  }
}

.background-babies
{
  &:before
  {
    background-image: url(/images/background-babies.jpg);
    background-position: 50% 0%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-design-disruptors
{
  &:before
  {
    background-image: url(/images/background-design-disruptors.jpg);
    background-position: 50% 100%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-finding-vivian-maier
{
  &:before
  {
    background-image: url(/images/background-finding-vivian-maier.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-inside-job
{
  &:before
  {
    background-image: url(/images/background-inside-job.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-jiro-dreams-of-sushi
{
  &:before
  {
    background-image: url(/images/background-jiro-dreams-of-sushi.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-last-train-home
{
  &:before
  {
    background-image: url(/images/background-last-train-home.jpg);
    background-position: 100% 0%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-objectified
{
  &:before
  {
    background-image: url(/images/background-objectified.png);
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-page-one
{
  &:before
  {
    background-image: url(/images/background-page-one.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-the-artist-is-present
{
  &:before
  {
    background-image: url(/images/background-the-artist-is-present.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-the-human-scale
{
  &:before
  {
    background-image: url(/images/background-the-human-scale.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-the-internets-own-boy
{
  &:before
  {
    background-image: url(/images/background-the-internets-own-boy.jpg);
    background-position: 50% 0%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-the-salt-of-the-earth
{
  &:before
  {
    background-image: url(/images/background-the-salt-of-the-earth.jpg);
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-tims-vermeer
{
  &:before
  {
    background-image: url(/images/background-tims-vermeer.jpg);
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.25;
  }
}

.background-urbanized
{
  &:before
  {
    background-image: url(/images/background-urbanized.jpg);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0.25;
  }
}


// Masthead
// -------------------------

.masthead
{
  @include outer-container;
  padding-left: modular-scale(0);
  padding-right: modular-scale(0);

  @include media($breakpoint-large)
  {
    height: modular-scale(6);
    padding-left: 0;
    padding-right: 0;
  }

  .masthead-title
  {
    color: white;
    display: block;
    font-size: modular-scale(1);
    font-style: italic;
    line-height: 1;
    margin-left: modular-scale(-8) * -1;
    padding-bottom: modular-scale(-1);
    padding-top: modular-scale(-1);
    @include printers-shade(black, 60);
    text-decoration: none;
    text-transform: uppercase;
    @include transform(rotate(-7deg));
    @include transition(all 0.2s linear);

    @include media($breakpoint-medium)
    {
      float: left;
    }

    &::first-letter
    {
      padding-left: modular-scale(-8);
    }

    &:hover,
    &:focus,
    &:active
    {
      color: yellow;
      @include printers-shade(black, 100);
    }
  }

  .masthead-navigation
  {
    margin-top: modular-scale(0);

    @include media($breakpoint-medium)
    {
      margin-top: 0;
    }
  }

  .masthead-navigation-menu
  {
    @include media($breakpoint-medium)
    {
      float: right;
      text-align: right;
    }

    li
    {
      display: inline-block;

      & + li
      {
        margin-left: $font-size-base;
      }
    }
  }

  .masthead-navigation-link
  {
    color: white;
    display: inline-block;
    font-family: $font-sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: modular-scale(3);

    @include media($breakpoint-medium)
    {
      line-height: modular-scale(6);
    }

    &:hover,
    &:focus,
    &:active
    {
      color: yellow;
    }
  }
}


// Headline
// -------------------------

.headline
{
  @include outer-container;
  color: yellow;

  padding-bottom: modular-scale(2);
  padding-left: modular-scale(0);
  padding-right: modular-scale(0);
  padding-top: modular-scale(2);

  @include media($breakpoint-medium)
  {
    padding-bottom: modular-scale(7);
    padding-top: modular-scale(7);
  }

  @include media($breakpoint-large)
  {
    padding-left: 0;
    padding-right: 0;
  }
}

.headline-title
{
  font-size: modular-scale(4);
  line-height: 1;
  margin-bottom: modular-scale(-2);
  text-transform: uppercase;

  @include media($breakpoint-medium)
  {
    font-size: modular-scale(6);
  }

  &:before
  {
    content: '\002116\00a0' attr(data-number);
    display: block;
    font-size: modular-scale(-5);
  }
}

.headline-body
{
  font-family: $font-sans-serif;
  font-size: modular-scale(1);
  margin-bottom: modular-scale(1);
}

.headline-details
{
  font-family: $font-sans-serif;
  font-size: modular-scale(1);
  margin-bottom: modular-scale(1);

  li
  {
    @include media($breakpoint-medium)
    {
      display: inline-block;
    }


    &:not(:last-child)
    {
      @include media($breakpoint-medium)
      {
        margin-top: 0;

        &:after
        {
          content: '\00B7';
          margin-left: modular-scale(-4);
          margin-right: modular-scale(-4);
        }
      }
    }

    & + li
    {
      margin-top: modular-scale(-3);
    }
  }
}

.headline-call-to-actions
{
  font-size: modular-scale(1);

  li
  {
    display: block;

    @include media($breakpoint-medium)
    {
      display: inline-block;
    }

    & + li
    {
      margin-top: modular-scale(0);

      @include media($breakpoint-medium)
      {
        margin-left: $font-size-base;
        margin-top: 0;
      }
    }
  }
}


// Footer
// -------------------------

.footer
{
  padding-left: modular-scale(0);
  padding-right: modular-scale(0);

  @include media($breakpoint-large)
  {
    padding-left: 0;
    padding-right: 0;
  }
}


// Section
// -------------------------

.section-container
{
  @include outer-container;
  padding-bottom: modular-scale(2);
  padding-top: modular-scale(2);

  @include media($breakpoint-medium)
  {
    padding-bottom: modular-scale(5);
    padding-top: modular-scale(5);
  }

  p
  {
    max-width: modular-scale(12);
  }
}

.section-header,
.section-footer
{
  @include clearfix;
  padding-left: modular-scale(0);
  padding-right: modular-scale(0);

  @include media($breakpoint-large)
  {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-header
{
  &:not(:last-child)
  {
    margin-bottom: modular-scale(1);

    @include media($breakpoint-medium)
    {
      margin-bottom: modular-scale(3);
    }
  }
}

.section-footer
{
  &:not(:first-child)
  {
    margin-top: modular-scale(1);

    @include media($breakpoint-medium)
    {
      margin-top: modular-scale(3);
    }
  }
}

.section-title
{
  font-size: modular-scale(3);
  line-height: modular-scale(0);
  text-transform: uppercase;

  &:not(:last-child)
  {
    margin-bottom: modular-scale(-2);

    @include media($breakpoint-medium)
    {
      margin-bottom: modular-scale(0);
    }
  }
}


// Film
// -------------------------

.film-description
{
  @include media($breakpoint-film)
  {
    float: left;
  }
}

.film-details
{
  color: lighten($font-color, 25%);
  margin-top: modular-scale(2);
  max-width: modular-scale(10);

  @include media($breakpoint-medium)
  {
    margin-top: modular-scale(5);
  }

  @include media($breakpoint-film)
  {
    float: left;
    margin-left: modular-scale(4);
    margin-top: 0;
  }

  dt
  {
    clear: left;
    float: left;
    font-weight: bold;
    text-align: right;
    width: modular-scale(6);

    &:after
    {
      content: ':\00a0';
    }
  }

  dd
  {
    margin-left: modular-scale(6);
  }
}


// Panel
// -------------------------

.panelist
{
  float: left;
  margin-left: 0;
  margin-top: modular-scale(2);

  @include media($breakpoint-panel)
  {
    width: flex-grid(6, 12);

    &:not(:nth-of-type(2n + 1))
    {
      margin-left: flex-gutter();
    }

    &:nth-of-type(-n + 2)
    {
      margin-top: modular-scale(2);
    }
  }

  @include media($breakpoint-panel-wide)
  {
    width: flex-grid(4, 12);

    &:nth-of-type(n)
    {
      margin-left: 0;
    }

    &:not(:nth-of-type(3n + 1))
    {
      margin-left: flex-gutter();
    }

    &:nth-of-type(-n + 3)
    {
      margin-top: modular-scale(2);
    }
  }
}

.panelist-photo
{
  border-radius: 50%;
  width: 50%;
}

.panelist-name
{
  font-size: modular-scale(2);
  line-height: 1;
  margin-bottom: modular-scale(0);
  margin-top: modular-scale(0);
  text-transform: uppercase;
}

.panelist-description
{
}


// Venue
// -------------------------

.venue-map
{
  cursor: pointer;
  display: none;
  height: 20em;
}


// Tickets
// -------------------------

.tickets-widget
{
  margin-left: modular-scale(0);
  margin-right: modular-scale(0);
  max-width: modular-scale(13);

  @include media($breakpoint-large)
  {
    margin-left: 0;
    margin-right: 0;
  }
}


// Archive
// -------------------------

.archive
{
  float: left;
  height: modular-scale(10);
  margin-left: 0;
  margin-top: flex-gutter();
  width: flex-grid(6, 12);

  &:not(:nth-of-type(2n + 1))
  {
    margin-left: flex-gutter();
  }

  &:nth-of-type(-n + 2)
  {
    margin-top: 0;
  }

  @include media($breakpoint-archive)
  {
    width: flex-grid(4, 12);

    &:nth-of-type(n)
    {
      margin-left: 0;
    }

    &:not(:nth-of-type(3n + 1))
    {
      margin-left: flex-gutter();
    }

    &:nth-of-type(-n + 3)
    {
      margin-top: 0;
    }
  }

  @include media($breakpoint-large)
  {
    width: flex-grid(3, 12);

    &:nth-of-type(n)
    {
      margin-left: 0;
    }

    &:not(:nth-of-type(4n + 1))
    {
      margin-left: flex-gutter();
    }

    &:nth-of-type(-n + 4)
    {
      margin-top: 0;
    }
  }

  &:after
  {
    background-color: white;
  }

  &.active,
  &:hover,
  &:focus,
  &:active
  {
    &:after
    {
      background-color: black;
    }
  }
}

.archive-link
{
  color: $font-color;
  display: block;
  height: 100%;
  padding-bottom: modular-scale(1);
  padding-left: modular-scale(0);
  padding-right: modular-scale(0);
  padding-top: modular-scale(1);
  text-decoration: none;

  &.active,
  &:hover,
  &:focus,
  &:active
  {
    color: yellow;
  }
}

.archive-title
{
  font-size: modular-scale(1);
  line-height: 1;
  text-transform: uppercase;

  @include media($breakpoint-archive)
  {
    font-size: modular-scale(2);
  }

  &:before
  {
    content: '\002116\00a0' attr(data-number);
    display: block;
    font-size: modular-scale(-3);
  }
}

.archive-caption
{
  bottom: modular-scale(1);
  font-size: modular-scale(0);
  position: absolute;
}


// Subscribe
// -------------------------

.section-subscribe
{
  color: yellow;
}

.subscribe-form
{
  margin-left: modular-scale(0);
  margin-right: modular-scale(0);
  max-width: modular-scale(11);

  @include media($breakpoint-large)
  {
    margin-left: 0;
    margin-right: 0;
  }
}


// Buttons
// -------------------------

.button
{
  border: modular-scale(-6) solid $font-color;
  color: $font-color;
  display: block;
  font-family: $font-sans-serif;
  line-height: modular-scale(0);
  padding: modular-scale(-4) modular-scale(2);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include media($breakpoint-medium)
  {
    display: inline-block;
  }

  &:hover,
  &:focus,
  &:active
  {
    color: lighten($font-color, 25%);
    border-color: lighten($font-color, 25%);
  }

  .button-icon
  {
    height: modular-scale(0);
    vertical-align: bottom;
  }

  .button-icon-svg
  {
    fill: $font-color;
  }

  &:hover,
  &:focus,
  &:active
  {
    .button-icon-svg
    {
      fill: lighten($font-color, 25%);
    }
  }

  &.button-alternate
  {
    border-color: yellow;
    color: yellow;

    &:hover,
    &:focus,
    &:active
    {
      color: white;
      border-color: white;
    }

    .button-icon-svg
    {
      fill: yellow;
    }

    &:hover,
    &:focus,
    &:active
    {
      .button-icon-svg
      {
        fill: white;
      }
    }
  }

  &.button-error
  {
    border-color: red;
    color: red;

    &:hover,
    &:focus,
    &:active
    {
      color: white;
      border-color: white;
    }

    .button-icon-svg
    {
      fill: red;
    }

    &:hover,
    &:focus,
    &:active
    {
      .button-icon-svg
      {
        fill: white;
      }
    }
  }

  &.button-twitter
  {
    border-color: #00ACED;
    color: #00ACED;

    &:hover,
    &:focus,
    &:active
    {
      border-color: white;
      color: white;
    }

    .button-icon-svg
    {
      fill: #00ACED;
    }

    &:hover,
    &:focus,
    &:active
    {
      .button-icon-svg
      {
        fill: white;
      }
    }
  }

  &.button-facebook
  {
    border-color: #385185;
    color: #385185;

    &:hover,
    &:focus,
    &:active
    {
      border-color: white;
      color: white;
    }

    .button-icon-svg
    {
      fill: #385185;
    }

    &:hover,
    &:focus,
    &:active
    {
      .button-icon-svg
      {
        fill: white;
      }
    }
  }

  &.button-rss
  {
    border-color: #FFA500;
    color: #FFA500;

    &:hover,
    &:focus,
    &:active
    {
      border-color: white;
      color: white;
    }

    .button-icon-svg
    {
      fill: #FFA500;
    }

    &:hover,
    &:focus,
    &:active
    {
      .button-icon-svg
      {
        fill: white;
      }
    }
  }
}


// Lists
// -------------------------

.list-call-to-actions
{
  font-size: modular-scale(1);

  @include media($breakpoint-medium)
  {
    margin-bottom: modular-scale(-2) * -1;
    margin-right: modular-scale(-2) * -1;
  }

  li
  {
    display: block;

    @include media($breakpoint-medium)
    {
      display: inline-block;
      margin-bottom: modular-scale(-2);
      margin-right: modular-scale(-2);
    }

    & + li
    {
      margin-top: modular-scale(0);

      @include media($breakpoint-medium)
      {
        margin-top: 0;
      }
    }
  }
}


// Forms
// -------------------------

.form-input
{
  background-color: transparent;
  border: modular-scale(-5) solid yellow;
  color: yellow;
  display: block;
  font-family: $font-sans-serif;
  font-size: modular-scale(0);
  margin: 0;
  margin-bottom: modular-scale(-2);
  padding: modular-scale(-3) modular-scale(0);
  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus
  {
    color: white;
    border-color: white;
    outline: none;
  }
}

.form-button
{
  background-color: transparent;
  border: modular-scale(-6) solid yellow;
  color: yellow;
  cursor: pointer;
  display: block;
  font-family: $font-sans-serif;
  font-size: modular-scale(1);
  line-height: modular-scale(0);
  margin: 0;
  padding: modular-scale(-4) modular-scale(2);
  text-transform: uppercase;
  width: 100%;

  @include media($breakpoint-medium)
  {
    width: auto;
  }

  &:hover,
  &:focus,
  &:active
  {
    color: white;
    border-color: white;
  }
}


// Embeds
// -------------------------

.embed
{
  height: 0;
  overflow: hidden;
  position: relative;

  embed,
  object,
  iframe
  {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}

.embed-4-3
{
  padding-bottom: 75%;
}

.embed-16-9
{
  padding-bottom: 56.25%;
}

.embed-21-9
{
  padding-bottom: 42.85%;
}
