//
// Variables
// --------------------------------------------------


// Modular Scale
// -------------------------

$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: em($em-base);


// Breakpoints
// -------------------------

$breakpoint-large: new-breakpoint(min-width ($max-width + (modular-scale(0) * 2)));
$breakpoint-medium: new-breakpoint(min-width em(450));
$breakpoint-film: new-breakpoint(min-width em(1034));
$breakpoint-panel: new-breakpoint(min-width em(400));
$breakpoint-panel-wide: new-breakpoint(min-width em(700));
$breakpoint-archive: new-breakpoint(min-width em(700));


// Fonts
// -------------------------

$font-sans-serif: 'futura-pt', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-serif: 'chaparral-pro', Georgia, Cambria, 'Times New Roman', Times, serif;
$font-color: #333333;
$font-family-base: $font-serif;
$font-size-base: modular-scale(0);


// Line Height
// -------------------------

$line-height-base: modular-scale(1);


// Spacing
// -------------------------

$spacing-base: $line-height-base * $font-size-base;
