<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    <div class="background {{ page.id | split: '/' | last | slugify | prepend: 'background-' }}">
      {% include masthead.html %}

      {% include headline.html %}
    </div>
    
    {% include film.html %}
    
    {% include venue.html %}

    {% include dinner.html %}
    
    {% include tickets.html %}

    {% include exhibition.html %}

    {% include archive.html %}

    {% include subscribe.html %}

    {% include footer.html %}

    {% include google-analytics.html %}
  </body>
</html>
