<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    <div class="background {{ page.id | split: '/' | last | slugify | prepend: 'background-' }}">
      {% include masthead.html %}

      <section class="headline">
        <h1 class="headline-title">{{ page.film.title }}</h1>
        <p class="headline-body">{{ page.screening.date | date: "%l:%M %p" }} &middot; {{ page.screening.date | date: "%A, %e %B, %Y" }} &middot; {{ page.screening.venue.name }}, {{ page.screening.venue.city }}, {{ page.screening.venue.country }}</p>
        <ul class="headline-call-to-actions">
          <li><a href="#tickets" class="button button-alternate">Tickets</a></li>
          <li><a href="#film" class="button button-alternate">Trailer</a></li>
        </ul>
      </section>
    </div>
    
    <section id="film" class="section-container">
      <header class="section-header">
        <h2>The Film</h2>
        <div class="film-description">
          {{ content }}
        </div>
        <dl class="film-details">
          <dt>Director</dt>
          <dd>{{ page.film.director }}</dd>
          <dt>Cast</dt>
          <dd>{{ page.film.cast }}</dd>
          <dt>Genre</dt>
          <dd>{{ page.film.genre }}</dd>
          <dt>Run Time</dt>
          <dd>{{ page.film.running_time | append: ' minutes' }}</dd>
          <dt>Language</dt>
          <dd>{{ page.film.language }}</dd>
          {% if page.film.subtitles %}
          <dt>Subtitles</dt>
          <dd>{{ page.film.subtitles }}</dd>
          {% endif %}
          <dt>Links</dt>
          <dd><a href="{{ page.film.url }}">Website</a>, <a href="http://www.imdb.com/title/{{ page.film.imdb_id }}/">IMDB</a></dd>
        </dl>
      </header>

      <figure class="embed embed-16-9">
        <iframe src="//player.vimeo.com/video/{{ page.film.vimeo_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffff00" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </figure>
    </section>
    
    <section id="venue" class="section-container">
      <header class="section-header">
        <h2>Venue</h2>
        <p><strong>{{ page.screening.venue.name }}</strong><br>{{ page.screening.venue.street }}<br>{{ page.screening.venue.postcode }}, {{ page.screening.venue.locality }}<br>{{ page.screening.venue.city }}, {{ page.screening.venue.country }}</p>
        <p><a href="{{ page.screening.venue.google_maps_url }}" class="button">Google Maps</a></p>
      </header>

      <figure>
        <div id="venue-google-map" class="venue-map" data-address="{{ page.screening.venue.name }}, {{ page.screening.venue.street }}, {{ page.screening.venue.postcode }}, {{ page.screening.venue.locality }}, {{ page.screening.venue.city }}, {{ page.screening.venue.country }}" data-url="{{ page.screening.venue.google_maps_url }}"></div>
      </figure>
    </section>

    <section id="tickets" class="section-container">
      <header class="section-header">
        <h2>Tickets</h2>
        <p>Tickets can be purchased from Eventbrite.<br>Unfortunately, refunds cannot be given.</p>
      </header>

      <figure class="tickets-widget">
        <iframe src="//eventbrite.com/tickets-external?eid={{ page.screening.eventbrite_id }}&ref=etckt" frameborder="0" height="260" width="100%" scrolling="auto"></iframe>
      </figure>
    </section>

    {% include subscribe.html %}

    {% include footer.html %}

    {% include google-analytics.html %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.18" type="text/javascript"></script>
    <script src="/javascripts/google-map.js" type="text/javascript"></script>
    <script type="text/javascript">map(document.getElementById('venue-google-map'));</script>
  </body>
</html>
