<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    <div class="background {{ page.id | split: '/' | last | slugify | prepend: 'background-' }}">
      {% include masthead.html %}

      <section class="headline">
        <h1 class="headline-title">{{ page.film.title }}</h1>
        <ul class="headline-details">
          {% if page.dinner %}
          <li>{{ page.dinner.date | date: "%l:%M %p" }} (Dinner)</li>
          <li>{{ page.screening.date | date: "%l:%M %p" }} (Screening)</li>
          {% else %}
          <li>{{ page.screening.date | date: "%l:%M %p" }}</li>
          {% endif %}
          <li>{{ page.screening.date | date: "%A, %e %B, %Y" }}</li>
          <li>{{ page.screening.venue.name }}, {{ page.screening.venue.city }}, {{ page.screening.venue.country }}</li>
        </ul>
        <ul class="headline-call-to-actions">
          <li><a href="#tickets" class="button button-alternate">Tickets</a></li>
          <li><a href="#film" class="button button-alternate">Trailer</a></li>
          {% if page.dinner %}
          <li><a href="#dinner" class="button button-alternate">Dinner</a></li>
          {% endif %}
          {% if page.exhibition %}
          <li><a href="#exhibition" class="button button-alternate">Exhibition</a></li>
          {% endif %}
        </ul>
      </section>
    </div>
    
    {% include film.html %}
    
    {% include venue.html %}

    {% include dinner.html %}
    
    {% include tickets.html %}

    {% include exhibition.html %}

    {% include subscribe.html %}

    {% include footer.html %}

    {% include google-analytics.html %}
  </body>
</html>
